<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Helper\Output">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="productattribute" xsi:type="array">
                    <item name="expected_delivery_days"
                          xsi:type="object">Jvdh\ProductExpectedDeliveryDays\Model\Handler\Output</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
